
<!DOCTYPE html>
<html>
  <head>
    <title>COVID-19 CHURCH ATTENDANCE TRACKER</title>
    <!-- Compiled and minified CSS -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="/stylesheets/materialize.min.css">
  </head>
  <style>

      h3{
          font-size: 20px;
      }
      .container{
        padding:8px;
        display: grid;
       margin-top:10vh;
       min-width: 20%vw;
       min-height: 20%vh;
       font-size: 1.5em;
       
      }
  </style>
  <body>
   

  


  <div class="container valign-wrapper white lighten-3 z-depth-2 hoverable">

       
         <div class='row' >
       

        <h1><%= message %></h1>
        <p class='center-align'>  404</p>
         </div>
        </h4>
        


  </div>
  <!-- Compiled and minified JavaScript -->
  </body>
</html>
