<!DOCTYPE html>
<html>
  <head>
    <title>COVID-19 CHURCH ATTENDANCE TRACKER</title>
    <!-- Compiled and minified CSS -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="/stylesheets/materialize.min.css">


    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   

  <section class='center-align valign-wrapper card-panel red lighten-2 error'></section>


  <div class="container  white  lighten-3 z-depth-2 hoverable">

    <div class="row">
        <form  method="POST" action='/' class="col s12">
          
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <input id="email" type="text" name='email' class="validate ">
                <label for="Email">Email</label>
              </div></div>


            <div class='row'>
            <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
              <input id='pwd' name='password' type="text" class="validate ">
              <label for="last_name">Password</label>
            </div></div>
            <div class="row">
              <div class="col s12">
                <button type='submit' class='login-btn btn btn-large blue'>Login</button>
              </div></div>
          </form>

        </div>


  </div>
  <!-- Compiled and minified JavaScript -->
  <script src="/javascripts/materialize.min.js"></script>
  <script src='javascripts/login.js'></script>
  </body>
</html>
